
- const titles = {"h1": {"size": "24px", "weight": 700, "color": colors["Dark Shade 100%"], isUpperCase: false},"h2": {"size": "19px", "weight": 700, "color": colors["Dark Shade 100%"], isUpperCase: false},"h3": {"size": "24px","weight": 700,"color": colors["Dark Shade 100%"],isUpperCase: true},"body": {"size": "24px","weight": 700,"color": colors["Dark Shade 75%"], isUpperCase: false}}